<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>410283081088-ele3u92vsfticmn33o0e57lgqa3jofsq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410283081088-ele3u92vsfticmn33o0e57lgqa3jofsq</string>
	<key>API_KEY</key>
	<string>AIzaSyC1NRQ-VRZvDlh1hIf9u9geWK0FqMC7TyE</string>
	<key>GCM_SENDER_ID</key>
	<string>410283081088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>mundo-web-ff0ac</string>
	<key>STORAGE_BUCKET</key>
	<string>mundo-web-ff0ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:410283081088:ios:d8ef1da9dcfaa84a7e9565</string>
</dict>
</plist>